body {
  font: $font-size-base $font-global;
  line-height: 1.2;
  color: $color-black;
}

.app {
  min-height: 100vh;

  &__title {
    font-size: 30px;
    font-weight: 800;
  }

  &__container {
    max-width: 800px;
    margin: 0 auto;
  }
}


