// Colors
$color-white: #fff;
$color-black: #000;
$colorBtn: #0909bf;


// Fonts
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;

// FontSize
$font-size-base: 14px;

// Variables
$borderRadius: 5px;
